USE [master]
GO
/****** Object:  Database [QLyVDV]    Script Date: 5/8/2017 8:02:17 PM ******/
CREATE DATABASE [QLyVDV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLyVDV', FILENAME = N'd:\1111\QLyVDV.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLyVDV_log', FILENAME = N'd:\1111\QLyVDV_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLyVDV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLyVDV]
GO
/****** Object:  Table [dbo].[CauLacBo]    Script Date: 5/8/2017 8:02:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauLacBo](
	[MaCLB] [nvarchar](10) NOT NULL,
	[TenCLB] [nvarchar](50) NULL,
 CONSTRAINT [PK_CauLacBo] PRIMARY KEY CLUSTERED 
(
	[MaCLB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VanDongVien]    Script Date: 5/8/2017 8:02:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VanDongVien](
	[MaVDV] [nvarchar](10) NOT NULL,
	[TenVDV] [nvarchar](50) NULL,
	[Tuoi] [int] NULL,
	[MaCLB] [nvarchar](10) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[MaVDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
